.hero_section {
    padding: 40px 16px;

    @media screen and (min-width: 769px) {
        padding: 40px 220px;
    }

    &__title {
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: bold;
        line-height: 140%; /* 56px */
        letter-spacing: 3.2px;
        padding-bottom: 42px;

        @media screen and (min-width: 769px) {
            font-size: 40px;
            padding-bottom: 60px;
        }
    }

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: 376px) {
            flex-direction: row;
            gap: 20px;
        }

        @media screen and (min-width: 769px) {
            gap: 0;
        }

        &_img {
            width: 100%;

            @media screen and (min-width: 769px) {
                height: 469px;
                width: 511px;
            }
        }

        &_text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            @media screen and (min-width: 769px) {
                gap: 48px;
            }

            &__title {
                font-size: 16px;
                font-style: normal;
                text-align: center;
                font-weight: 700;
                line-height: 140%; /* 33.6px */
                letter-spacing: 1.92px;
                padding: 0;

                @media screen and (min-width: 769px) {
                    font-size: 24px;
                }
            }

            &__subtitle {
                font-size: 18px;
                font-style: normal;
                text-align: center;
                font-weight: 700;
                line-height: 140%; /* 56px */
                letter-spacing: 3.2px;

                @media screen and (min-width: 769px) {
                    font-size: 40px;
                }
            }
        }
    }
}
