@use '../../styles/variables';

.heroSection {
  padding-top: 20px;
}

.title {
  font-size: var(--fs-headline);
  text-align: center;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 3.2px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 0;
  }
}

.img {
  width: 100%;
  padding-top: 42px;

  @media screen and (min-width: 768px) {
    width: 483px;
  }
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 48px;
  }

  & p {
    text-align: center;
    line-height: 140%;
    letter-spacing: 1.92px;
    padding: 0;

    @media screen and (min-width: 768px) {
      font-size: var(--fs-accent-laptop);
    }
  }
}

.subtitle {
  font-size: var(--fs-headline-laptop);
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 3.2px;

  @media screen and (max-width: 768px) {
    font-size: var(--fs-headline);
  }
}
