.hero_section {
    padding: 40px 220px;

    @media screen and (max-width: 768px) {
        padding: 40px 16px;
    }

    h1 {
        text-align: center;
       font-size: 40px;
       font-style: normal;
       font-weight: bold;
       line-height: 140%; /* 56px */
       letter-spacing: 3.2px;
       padding-bottom: 60px;

       @media screen and (max-width: 768px) {
          font-size: 18px;
          padding-bottom: 42px;
       }
    }

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 0;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }

        &_img {
            width: auto;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        &_text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 48px;

            h1 {
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 33.6px */
                letter-spacing: 1.92px;
                padding: 0;

                @media screen and (max-width: 768px) {
                    font-size: 16px;
                }
            }

            h3 {
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 56px */
                letter-spacing: 3.2px;

                @media screen and (max-width: 768px) {
                    font-size: 18px;
                }

            }

            @media screen and (max-width: 768px) {
                gap: 20px;
            }
        }
    }
}