@import '../../styles/variables';

.sectionWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  color: var(--secondary-dark-color);
  font-size: var(--fs-accent);
  line-height: 140%;
  letter-spacing: 1.6px;
  text-align: center;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: var(--fs-accent-laptop);
    letter-spacing: 1.9px;
    gap: 60px;
  }
}

.buttonWrapper {
  width: 100%;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}

.mobileParagraph {
  width: 313px;
  color: var(--secondary-dark-color);

  @media screen and (min-width: 768px) {
    width: 522px;
  }
}
