.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  padding: 0 16px;
  @media screen and (min-width: 375px) {
    width: 375px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 80px 16px 90px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding: 80px 220px 90px;
  }
}

.paragraphContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    gap: 60px;
  }
}

.mobileParagraph {
  display: block;
  color: var(--secondary-dark-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 1.6px;
  max-width: 313px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.desktopParagraph {
  color: var(--secondary-dark-color);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 1.92px;
  width: 522px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.gloryUkr {
  color: var(--secondary-dark-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 1.6px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    letter-spacing: 1.92px;
  }
}
