/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'),
    url('../assets/fonts/montserrat-v26-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/montserrat-v26-latin-regular.woff2')
      format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../assets/fonts/montserrat-v26-latin-regular.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../assets/fonts/montserrat-v26-latin-regular.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../assets/fonts/montserrat-v26-latin-regular.otf') format('opentype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../assets/fonts/montserrat-v26-latin-regular.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/montserrat-v26-latin-500.eot');
  src: local('Montserrat'),
    url('../assets/fonts/montserrat-v26-latin-500.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/montserrat-v26-latin-500.woff2') format('woff2'),
    url('../assets/fonts/montserrat-v26-latin-500.woff') format('woff'),
    url('../assets/fonts/montserrat-v26-latin-500.ttf') format('truetype'),
    url('../assets/fonts/montserrat-v26-latin-500.otf') format('opentype'),
    url('../assets/fonts/montserrat-v26-latin-500.svg#Montserrat') format('svg');
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/montserrat-v26-latin-600.eot');
  src: local('Montserrat'),
    url('../assets/fonts/montserrat-v26-latin-600.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/montserrat-v26-latin-600.woff2') format('woff2'),
    url('../assets/fonts/montserrat-v26-latin-600.woff') format('woff'),
    url('../assets/fonts/montserrat-v26-latin-600.ttf') format('truetype'),
    url('../assets/fonts/montserrat-v26-latin-600.otf') format('opentype'),
    url('../assets/fonts/montserrat-v26-latin-600.svg#Montserrat') format('svg');
}
/* montaga-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Montaga';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montaga-v13-latin-regular.eot');
  src: local('Montaga'),
    url('../assets/fonts/montaga-v13-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/montaga-v13-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/montaga-v13-latin-regular.woff') format('woff'),
    url('../assets/fonts/montaga-v13-latin-regular.ttf') format('truetype'),
    url('../assets/fonts/montaga-v13-latin-regular.otf') format('opentype'),
    url('../assets/fonts/montaga-v13-latin-regular.svg#Montaga') format('svg');
}
