:root {
      /* accent colors */
    --primary-accent-color: #F17B0F;
    --secondary-accent-color: rgba(241, 123, 15, 0.30);

    /* fonts - background - border colors */
    --dark-color: #000;
    --light-color: #FFF;
}