:root {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #fff;
  min-height: 100vh;

  /* accent colors */
  --primary-accent-color: #e7a515;
  --secondary-accent-color: rgba(231, 165, 21, 0.2);
  --numbers-accent-color: rgba(176, 175, 160, 0.5);

  /* button colors */
  --box-shadow-color: rgba(0, 0, 0, 0.25);
  --primary-hover-accent-color: #d19104;
  --secondary-hover-accent-color: rgba(231, 165, 21, 0.4);
  --facebook-button-color: #1877F2;
  --linkedin-button-color: #0A66C2;
  --viber-button-color: #7360F2;

  /* fonts - borders colors */
  --primary-font: 'Montserrat', sans-serif;
  --primary-dark-color: #000;
  --secondary-dark-color: #232121;
  --light-color: #fff;
  --steps-color: #B0AFA0;


  /* button color */
  --button-color: #E7A515;
}
