:root {
  // font size
  --fs-decor: 12px;
  --fs-accent: 20px;
  --fs-accent-laptop: 24px;
  --fs-headline: 18px;
  --fs-headline-laptop: 40px;
  --fs-text: 14px;

  /* accent colors */
  --primary-accent-color: #e7a515;
  --secondary-accent-color: rgba(231, 165, 21, 0.2);
  --numbers-accent-color: rgba(176, 175, 160, 0.5);
  --background-color: rgba(255, 253, 249, 0.8);

  /* button colors */
  --box-shadow-color: rgba(0, 0, 0, 0.25);
  --primary-hover-accent-color: #d19104;
  --secondary-hover-accent-color: rgba(231, 165, 21, 0.4);
  --facebook-button-color: #1877f2;
  --linkedin-button-color: #0a66c2;
  --viber-button-color: #7360f2;

  /* fonts - borders colors */
  --primary-font: 'Montserrat', sans-serif;
  --primary-dark-color: #000;
  --secondary-dark-color: #232121;
  --light-color: #fff;

  /* button color */
  --button-color: #e7a515;
}
