:root {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #FFFDF9;
  min-height: 100vh;

  /* accent colors */
  --primary-accent-color: #f17b0f;
  --secondary-accent-color: rgba(241, 123, 15, 0.3);

  /* fonts - background - border colors */
  --dark-color: #000;
  --light-color: #fff;


  /* button color */
  --button-color: #E7A515;
}
