@import './reset';
@import './fonts';
@import './variables';

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  background-color: var(--background-color);
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}
