@import './reset';
@import './fonts';
@import './variables';
<<<<<<< HEAD
<<<<<<< HEAD
@import './mixins';
@import './mediaqueries';
=======
@import './mixinbreakpoints';
>>>>>>> f45bd8a (update btn media styles)
=======
>>>>>>> 1e8ad4e (delete mixins)

// styles
html {
  scroll-behavior: smooth;
  height: 100%;
}

.container {
  padding: 0 40px;
}
