@import './reset';
@import './fonts';
@import './variables';
@import './mixins';
@import './mediaqueries';

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: var(--primary-font);
  background-color: #fffdf9;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}
