@use '../../styles/variables';

.sectionWrapper {
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.progressTitle {
  font-size: var(--fs-mobile);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.08em;
  max-width: 300px;
  text-align: center;
  color: var( --secondary-dark-color)
}

.progressInfoWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.progressBalanceWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.desc {
  font-size: var(--fs-text);
  line-height: 1.8;
  text-align: center;
  color: var( --secondary-dark-color)
}

.descBalance {
  font-size: var(--fs-mobile);
  line-height: 1.4;
  letter-spacing: 0.08em;
  color: var( --secondary-dark-color)
}

.progressWrapper {
  width: 100%;
  height: 20px;
  border: 1px solid var(--secondary-dark-color);
  border-radius: 12px;
}

.progressBar {
  height: 100%;
  min-width: 8px;
  background-color: var(--primary-accent-color);
  border-radius: 12px 0px 0px 12px;
}

@media screen and (min-width: 1024px) {
  .desc {
    margin-bottom: 8px;
  }

  .titleWrapper{
    margin-bottom: 0;
  }

  .progressTitle {
    font-size: var(--fs-desktop);
    font-weight: 500;
    letter-spacing: 0.08em;
    margin-bottom: 60px;
    max-width: 1000px;
  }

  .progressBalanceWrapper{
    gap: 16px;
  }

  .descBalance {
    font-size: var(--fs-accent-laptop);
    letter-spacing: 0.08em;
  }

  .progressInfoWrapper {
    margin-bottom: 36px;
  }

  .progressWrapper {
    width: 100%;
    height: 75px;
  }
}

@media screen and (min-width: 1440px) {
  .desc {
    margin-bottom: 16px;
  }
}
