.container {
  padding: 40px 16px 60px;
}

.progressTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1.28px;
  text-align: center;
  margin-bottom: 20px;
}

.progressInfoWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  text-align: center;
}

.descBalance {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1.28px;
}

.progressWrapper {
  width: 100%;
  height: 20px;
  border: 1px solid var(--secondary-dark-color);
  border-radius: 12px;
}

.progressBar {
  min-width: 8px;
  background-color: var(--primary-accent-color);
  height: 100%;
  border-radius: 12px 0px 0px 12px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 80px 16px 71px;
  }

  .desc {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 80px 220px 71px;
  }

  .progressTitle {
    font-size: 32px;
    letter-spacing: 2.56px;
    margin-bottom: 60px;
  }

  .desc {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .descBalance {
    font-size: 24px;
    letter-spacing: 1.92px;
  }

  .progressInfoWrapper {
    margin-bottom: 36px;
  }

  .progressWrapper {
    width: 100%;
    height: 75px;
  }
}
