.container {
  padding: 60px 16px 90px;
}

.mainInfoTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1.44px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-dark-color);
}

.infoTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1.28px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--secondary-dark-color);
}

.desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  color: var(--secondary-dark-color);
}

.infoWrapper {
  display: flex;
  row-gap: 36px;
  justify-content: space-between;
  flex-direction: column;
}

.imgWrapper {
  display: flex;
  width: 100%;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 80px 16px 90px;
  }

  .infoWrapper {
    column-gap: 69px;
    flex-direction: row;
  }

  .desc {
    // font-size: 16px;
    max-width: 489px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 80px 220px 90px;
  }

  .mainInfoTitle {
    font-size: 40px;
    letter-spacing: 3.2px;
  }

  .infoTitle {
    font-size: 24px;
    letter-spacing: 1.92px;
    margin-bottom: 60px;
  }

  .desc {
    font-size: 16px;
  }
}
