@use '../../styles/variables';

.sectionWrapper {
  padding-top: 60px;
  padding-bottom: 90px;

  @media screen and (min-width: 1024px) {
    padding-top: 80px;
  }
}

.mainInfoTitle {
  font-size: var(--fs-headline);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1.44px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-dark-color);
}

.infoTitle {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1.28px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--secondary-dark-color);
}

.textWrapper {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.descInfo {
  font-weight: 400;
  font-size: var(--fs-text);
  line-height: 1.8;
  color: var(--secondary-dark-color);
  text-align: left;
  max-width: 342px;
}

.infoWrapper {
  display: flex;
  row-gap: 36px;
  justify-content: space-between;
  flex-direction: column;
}

.imgWrapper {
  display: flex;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .infoWrapper {
    column-gap: 69px;
    flex-direction: row;
  }

  .descInfo {
    max-width: 489px;
  }
}

@media screen and (min-width: 1024px) {
  .descInfo {
    font-size: 16px;
    max-width: 430px;
  }

  .mainInfoTitle {
    font-size: 40px;
    letter-spacing: 3.2px;
  }

  .infoTitle {
    font-size: 24px;
    letter-spacing: 1.92px;
    margin-bottom: 60px;
  }

  
}
