@import '../../styles/variables';

.footer {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: var(--fs-decor);
}

.desc {
  width: 100%;
  text-align: center;
  line-height: 140%;
  letter-spacing: 0.96px;
}
