.scrollBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: solid 1.5px;
  border-color: var(--primary-accent-color);
  background-color: transparent;
}

.svgScrollArrow {
  width: 28px;
  height: 28px;
}

.scrollBtn:hover,
.scrollBtn:focus {
  border: solid 2.5px;
  border-color: var(--primary-hover-accent-color);
}

@media screen and (min-width: 1440px) {
  .svgScrollArrow {
    width: 35px;
    height: 35px;
  }

  .scrollBtn {
    width: 64px;
    height: 64px;
  }
}
