@import '../../styles/variables';

.scrollBtn {
  position: fixed;
  right: -80px;
  bottom: 50px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: solid 1.5px;
  border-color: var(--primary-accent-color);
  background-color: var(--background-color);
  transition: border-color 0.1s ease-in-out, border-width 0.1s ease-in-out;
  transform: translateX(-100px);
  animation: slideLeft 1s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(-100px);
  }
}

.hidden {
  display: none;
}

.svgScrollArrow {
  width: 28px;
  height: 28px;
  stroke: black;
}

.scrollBtn:hover,
.scrollBtn:focus {
  border: solid 2.5px;
  border-color: var(--primary-hover-accent-color);
}

@media screen and (min-width: 1440px) {
  .svgScrollArrow {
    width: 35px;
    height: 35px;
  }

  .scrollBtn {
    width: 64px;
    height: 64px;
  }
}
